.Weather {
  padding: 20px;
  border: 1px solid #ecedee;
  border-radius: 5px;
  background-color: #fff;
}

.Weather .overview {
  margin-bottom: 20px;
}
.Weather .btn {
  background-color: #ae6fa6;
  border-color: #ae6fa6;
}
.Weather .btn:hover {
  background-color: #784a72;
  border-color: #784a72;
}

.Weather .weather-temperature img {
  margin-right: 5px;
  height: 69px;
  width: 69px;
}
.clearfix.weather-temperature img,
.clearfix.weather-temperature strong {
  display: inline-block;
  vertical-align: middle;
}

.Weather .weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.Weather .weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.Weather .weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}
